# Игнорировать папки сборки и отладки
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
[Tt]est[Rr]esults/
[Xx]64/
[Xx]86/
[Aa]rticles/

# Игнорировать файлы пользовательских настроек
*.user
*.suo
*.userprefs

# Игнорировать файлы резервных копий
*.bak
*.tmp

# Игнорировать папки пакетов NuGet
[Nn]u[Gg]et/
.nuget/
packages/

# Игнорировать файлы журналов и диагностики
*.log
*.sln.docstates

# Игнорировать папки инструментов
[Tt]ools/

# Игнорировать папку .vs
.vs/

src/JobDetectorBot/.vs
src/JobDetectorBot/Application/obj
src/JobDetectorBot/Bot/bin
src/JobDetectorBot/Bot/obj
src/JobDetectorBot/Domain/obj
src/JobDetectorBot/Infrastructure/obj
src/JobDetectorBot/HeadHunterGrabber/bin
src/JobDetectorBot/HeadHunterGrabber/obj
src/JobDetectorBot/HeadHunterGrabber.BusinessLogic/bin
src/JobDetectorBot/HeadHunterGrabber.BusinessLogic/obj
src/JobDetectorBot/HeadHunterGrabber.DataAccess/bin
src/JobDetectorBot/HeadHunterGrabber.Dto/bin
src/JobDetectorBot/HeadHunterGrabber.Parser/obj
src/JobDetectorBot/HeadHunterGrabber.Dto/obj
src/JobDetectorBot/HeadHunterGrabber.DataAccess/obj
src/JobDetectorBot/HeadHunterGrabber.Parser/bin
src/JobDetectorBot/HeadHunterGrabber.Parser.Dto/bin
src/JobDetectorBot/HeadHunterGrabber.Parser.Dto/obj
src/JobDetectorBot/VacancyService.Parser.Dto/obj
src/JobDetectorBot/VacancyService.Parser.Dto/bin
src/JobDetectorBot/VacancyService/bin
src/JobDetectorBot/VacancyService/obj
src/JobDetectorBot/VacancyService.BusinessLogic/bin
src/JobDetectorBot/VacancyService.BusinessLogic/obj
src/JobDetectorBot/VacancyService.Configuration/bin
src/JobDetectorBot/VacancyService.Configuration/obj
src/JobDetectorBot/VacancyService.DataAccess/bin
src/JobDetectorBot/VacancyService.DataAccess/obj
src/JobDetectorBot/VacancyService.Dto/bin
src/JobDetectorBot/VacancyService.Dto/obj
src/JobDetectorBot/VacancyService.Parser/bin
src/JobDetectorBot/VacancyService.Parser/obj
src/JobDetectorBot/VacancyService.HeadHunterApiClient/bin
src/JobDetectorBot/VacancyService.HeadHunterApiClient/obj
src/JobDetectorBot/VacancyService.HeadHunterApiClient.Dto/bin
src/JobDetectorBot/VacancyService.HeadHunterApiClient.Dto/obj
